In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import map_key

In [2]:
# Store the CSV from earlier into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Porto Santo,PT,2022-05-08 17:08:55,33.0720,-16.3415,66.58,59,20,16.11
1,1,Saint George,US,2022-05-08 17:08:55,37.1041,-113.5841,77.79,11,0,5.75
2,2,Grindavik,IS,2022-05-08 17:08:56,63.8424,-22.4338,54.07,76,75,20.71
3,3,East London,ZA,2022-05-08 17:08:56,-33.0153,27.9116,64.26,73,85,15.82
4,4,Bandarbeyla,SO,2022-05-08 17:08:57,9.4942,50.8122,83.28,82,1,14.12

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key
gmaps.configure(api_key = map_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint George,US,2022-05-08 17:08:55,37.1041,-113.5841,77.79,11,0,5.75
4,4,Bandarbeyla,SO,2022-05-08 17:08:57,9.4942,50.8122,83.28,82,1,14.12
11,11,Ariquemes,BR,2022-05-08 17:09:00,-9.9133,-63.0408,87.40,61,19,1.86
17,17,Bambous Virieux,MU,2022-05-08 17:07:49,-20.3428,57.7575,75.45,83,40,5.75
18,18,Hithadhoo,MV,2022-05-08 17:09:03,-0.6000,73.0833,84.72,77,73,19.33
19,19,Kavaratti,IN,2022-05-08 17:09:03,10.5669,72.6420,85.12,72,99,15.84
22,22,Araripe,BR,2022-05-08 17:09:05,-7.2125,-40.0461,85.30,40,100,8.39
29,29,Sechura,PE,2022-05-08 17:09:08,-5.5569,-80.8222,77.61,59,86,12.37
30,30,Souillac,MU,2022-05-08 17:09:09,-20.5167,57.5167,75.58,83,40,5.75
31,31,Le Port,RE,2022-05-08 17:09:10,-20.9373,55.2919,76.96,77,17,5.03

In [11]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names aclong iwth city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1      Saint George      US     77.79  37.1041 -113.5841
4       Bandarbeyla      SO     83.28   9.4942   50.8122
11        Ariquemes      BR     87.40  -9.9133  -63.0408
17  Bambous Virieux      MU     75.45 -20.3428   57.7575
18        Hithadhoo      MV     84.72  -0.6000   73.0833
19        Kavaratti      IN     85.12  10.5669   72.6420
22          Araripe      BR     85.30  -7.2125  -40.0461
29          Sechura      PE     77.61  -5.5569  -80.8222
30         Souillac      MU     75.58 -20.5167   57.5167
31          Le Port      RE     76.96 -20.9373   55.2919

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type" : "lodging",
    "key": map_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint George,US,77.79,37.1041,-113.5841,Best Western Plus Abbey Inn
4,Bandarbeyla,SO,83.28,9.4942,50.8122,JABIR HOTEL
11,Ariquemes,BR,87.40,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO
17,Bambous Virieux,MU,75.45,-20.3428,57.7575,Laguna Beach Hotel & Spa
18,Hithadhoo,MV,84.72,-0.6000,73.0833,Scoop Guest House
19,Kavaratti,IN,85.12,10.5669,72.6420,Hotels in Lakshadweep Islands
22,Araripe,BR,85.30,-7.2125,-40.0461,Diamantes Motel
29,Sechura,PE,77.61,-5.5569,-80.8222,Hospedaje Costa Bella
30,Souillac,MU,75.58,-20.5167,57.5167,Shanti Maurice Resort & Spa
31,Le Port,RE,76.96,-20.9373,55.2919,Chez Dolores

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))